In [1]:
2+3

5

In [2]:
3+2

5

In [5]:
# Error messages are really useful
b
a

NameError: name 'b' is not defined

In [ ]:
a = 2

In [ ]:
a

In [6]:
a = 2
type(a)

int

In [7]:
type(0)

int

In [8]:
a = 2.3
type(a)

float

In [13]:
# In python 2.7, and some other languages:
# An integer / integer = integer

a = 3.
print(type(a))
b = 2
print(type(b))
a/b

<class 'float'>
<class 'int'>

1.5

In [14]:
a = 3
print(type(a))
b = 2
print(type(b))
a/b

<class 'int'>
<class 'int'>

1.5

In [17]:
a = 4
print(type(a))
b = 2
print(type(b))
c = a/b
print(c)
print(type(c))

<class 'int'>
<class 'int'>
2.0
<class 'float'>

In [19]:
a = '2'
type(a)
print(type(a))

<class 'str'>

In [20]:
a + 2

TypeError: can only concatenate str (not "int") to str

In [21]:
a*2

'22'

In [22]:
b = 'Mike'

In [23]:
b + 2

TypeError: can only concatenate str (not "int") to str

In [24]:
b * 2

'MikeMike'

In [25]:
type(b)

str

In [26]:
type(a)

str

In [27]:
a/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [28]:
a- 2

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [29]:
a**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [31]:
# Booleans
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [32]:
# Capitalization is important
c = TRUE

NameError: name 'TRUE' is not defined

In [33]:
d = FALSE

NameError: name 'FALSE' is not defined

In [34]:
d = 'False'
print(type(d))

<class 'str'>

In [35]:
d = "False"
type(d)

str

In [37]:
d = ""Mike""
type(d)

SyntaxError: invalid syntax (<ipython-input-37-2700e5cdfd72>, line 1)

In [41]:
d = "'Mike'"
print(type(d))
print(d)

<class 'str'>
'Mike'

In [42]:
d = """Mike"""
print(type(d))
print(d)

<class 'str'>
Mike

In [43]:
d = "Mike"
print(type(d))
print(d)

<class 'str'>
Mike

In [44]:
d = '"Mike"'
print(type(d))
print(d)

<class 'str'>
"Mike"

In [45]:
# PEMDAS is important
a = 2
b = 3
c = 4
d = a + b * c
print(d)

14

In [46]:
# Spaces don't overrule PEMDAS
a = 2
b = 3
c = 4
d = a+b * c
print(d)

14

In [47]:
# Spaces don't overrule PEMDAS
a = 2
b = 3
c = 4
d = (a+b) * c
print(d)

20

In [50]:
# You can switch between variable types
a = 2.3
print(type(a))
b = str(a)
print(b)
print(type(b))
# int "truncates"
c = int(a)
print(c)
print(type(c))

<class 'float'>
2.3
<class 'str'>
2
<class 'int'>

In [51]:
# You can switch between variable types
a = 2.999999999999
print(type(a))
b = str(a)
print(b)
print(type(b))
c = int(a)
print(c)
print(type(c))

<class 'float'>
2.999999999999
<class 'str'>
2
<class 'int'>

In [53]:
# Transitive property...
# python doesn't create the link...
a = 2
b = a
a = 3

# what does b now = ?
print(b)

2

# Fun with booleans

In [54]:
a = True
b = False
print(a+b)
print(type(a+b))

1
<class 'int'>

In [55]:
a * b

0

In [56]:
a - b

1

In [57]:
b - a

-1

In [58]:
a = 2
b = 3
c = a == b
print(c)
print(type(c))

# Python evaluates the RHS first, and then saves it as a variable

False
<class 'bool'>

In [59]:
# double equals is an equality test
a == b
# Does a equal b?

False

In [60]:
a = 2
b = 2
a == b

True

In [61]:
a = 2
b = 2.0
a == b

True

In [62]:
a = 0.1 + 0.2
b = 0.3
a == b

False

# Fun with strings

In [63]:
a = 'Mike'

In [65]:
int(a)

ValueError: invalid literal for int() with base 10: 'Mike'

In [67]:
b = '2'
print(type(b))
c = int(b)
print(c)
print(type(c))

<class 'str'>
2
<class 'int'>

In [68]:
b = '2Mike'
print(type(b))
c = int(b)
print(c)
print(type(c))

<class 'str'>

ValueError: invalid literal for int() with base 10: '2Mike'

In [70]:
# len tells you how long the string is
a = 'Mike'
len(a)

4

In [71]:
# spaces and special characters count towards len
a = 'Mike '
len(a)

5

In [72]:
# spaces and special characters count towards len
a = ''
len(a)

0

In [73]:
a = ' '
len(a)

1

In [75]:
a = 'Mike'
a.upper()

'MIKE'

In [76]:
a.lower()

'mike'

In [78]:
a

'Mike'

In [79]:
# Saving variables is super important! keep track of it!
a = a.upper()
a

'MIKE'

In [80]:
a

'MIKE'

In [81]:
a[1]

'I'

In [82]:
a[0]

'M'

In [ ]:
# Computers start counting at 0 - almost all the time

In [83]:
a[-1]

'E'

In [86]:
# typically this notation is: starting at '1', and then up to but not including '2'
a[1:2]

'I'

In [85]:
a[1:3]

'IK'

In [87]:
a = 'My name is Mike'
print(type(a))

<class 'str'>

In [92]:
b = a.split()
print(b)
print(type(b))
print(len(b))
b[1]

['My', 'name', 'is', 'Mike']
<class 'list'>
4

'name'

In [94]:
# You can string things together
a.upper().lower().split()

['my', 'name', 'is', 'mike']

In [95]:
len(a.upper().lower().split())

4