In [ ]:
# Last time we did
Boolean
Int
Float
String

In [1]:
a = "my name is mike"

In [2]:
a.upper()

'MY NAME IS MIKE'

In [3]:
a.lower()

'my name is mike'

In [4]:
a.split()

['my', 'name', 'is', 'mike']

In [5]:
type(a.split())

list

In [6]:
type(a)

str

In [7]:
a[1:3]
# computers start at 0!
# x:y notation is start at x go to y but not including y

'y '

In [8]:
a(1:3)

SyntaxError: invalid syntax (<ipython-input-8-7a9816663f78>, line 1)

In [ ]:
# Collections
sets, lists, dictionaries, & tuples

In [9]:
b = a.split()
b

['my', 'name', 'is', 'mike']

In [10]:
# split automatically returns a list
b[0]

'my'

In [11]:
b[2]

'is'

In [13]:
c = ['a','b','c']
print(c)
print(type(c))


print(c[1])
print(type(c[1]))

['a', 'b', 'c']
<class 'list'>
b
<class 'str'>

In [14]:
# The things we put into collections don't necessarily need to be the same variable type
d = ['Mike', 'Joe', 2.0, False]
type(d)

list

In [15]:
shopping_list = ['apples','bananas','grapes']
todo_list = ['workout', 'sleep', 'eat', 'repeat']

In [16]:
print(type(shopping_list))
print(type(todo_list))

<class 'list'>
<class 'list'>

In [17]:
combined_list = shopping_list + todo_list
combined_list

['apples', 'bananas', 'grapes', 'workout', 'sleep', 'eat', 'repeat']

In [18]:
math_list = [1, 2.0, False, 'Random']
combined_list + math_list

['apples',
 'bananas',
 'grapes',
 'workout',
 'sleep',
 'eat',
 'repeat',
 1,
 2.0,
 False,
 'Random']

In [36]:
# Inception

# these two lines create empty lists
master_list = list()
master_list = []

# math_list, todo_list, shopping_list
master_list.append(math_list)
master_list.append(todo_list)
master_list.append(shopping_list)

master_list

[[1, 2.0, False, 'Random'],
 ['workout', 'sleep', 'eat', 'repeat'],
 ['apples', 'bananas', 'grapes']]

In [23]:
print(type(master_list))
print(len(master_list))

print(master_list)

<class 'list'>
3
[[1, 2.0, False, 'Random'], ['workout', 'sleep', 'eat', 'repeat'], ['apples', 'bananas', 'grapes']]

In [24]:
print(type(master_list[0]))
print(len(master_list[0]))

print(master_list[0])

<class 'list'>
4
[1, 2.0, False, 'Random']

In [26]:
print(type(master_list[0][2]))
# print(len(master_list[0][2]))

print(master_list[0][2])

<class 'bool'>
False

In [27]:
print(type(master_list[0][3]))
print(len(master_list[0][3]))

print(master_list[0][3])

<class 'str'>
6
Random

In [29]:
print(type(master_list[0][3][5]))
print(len(master_list[0][3][5]))

print(master_list[0][3][5])

<class 'str'>
1
m

In [30]:
# Delete from lists
# Append

# change them
# this is called 'mutable'
master_list[0] = 'me'
master_list

['me', ['workout', 'sleep', 'eat', 'repeat'], ['apples', 'bananas', 'grapes']]

In [38]:
print(master_list[0][3][6])

IndexError: string index out of range

In [31]:
# This is a tuple
myvar = ('workout', 'sleep', 'eat', 'repeat')
type(myvar)

tuple

In [32]:
print(myvar)

('workout', 'sleep', 'eat', 'repeat')

In [33]:
myvar[1]

'sleep'

In [34]:
myvar[0]

'workout'

In [35]:
myvar[0] = 'me'

TypeError: 'tuple' object does not support item assignment

In [51]:
# Lists can have duplicates!
mylist = ['a','a','a','a','a']

print(type(mylist))
print(len(mylist))
print(mylist[3])

<class 'list'>
5
a

In [52]:
mylist.append('a')
len(mylist)

6

In [53]:
mylist

['a', 'a', 'a', 'a', 'a', 'a']

In [56]:
myset = set(mylist)
print(type(myset))

<class 'set'>

In [57]:
print(len(myset))

1

In [58]:
myset

{'a'}

In [59]:
myset.add('a')
myset

{'a'}

In [60]:
# order
# lists have order but sets do not

In [61]:
myset[0]

TypeError: 'set' object is not subscriptable

In [62]:
myset[0] = 'joe'

TypeError: 'set' object does not support item assignment

In [64]:
mylist2 = list(myset)
mylist2

['a']

In [65]:
# Dictionaries

mydict = {}
print(mydict)
print(len(mydict))
print(type(mydict))

{}
0
<class 'dict'>

In [66]:
mydict['myname'] = 'Mike'
mydict

{'myname': 'Mike'}

In [67]:
len(mydict)

1

In [68]:
mydict['yourname'] = 'Joe'
mydict

{'myname': 'Mike', 'yourname': 'Joe'}

In [69]:
mydict[2] = 3
mydict

{'myname': 'Mike', 'yourname': 'Joe', 2: 3}

In [70]:
mydict[2] = 'two'
mydict

{'myname': 'Mike', 'yourname': 'Joe', 2: 'two'}

In [71]:
mydict.keys()

dict_keys(['myname', 'yourname', 2])

In [72]:
mydict.values()

dict_values(['Mike', 'Joe', 'two'])

In [73]:
# Inception
mydict['inception'] = shopping_list

In [74]:
mydict

{'myname': 'Mike',
 'yourname': 'Joe',
 2: 'two',
 'inception': ['apples', 'bananas', 'grapes']}

In [75]:
type(mydict)

dict

In [76]:
type(mydict['myname'])

str

In [77]:
mydict['myname']

'Mike'

In [78]:
mydict['inception']

['apples', 'bananas', 'grapes']

In [79]:
type(mydict['inception'])

list

In [80]:
mydict['subdictionary'] = {"breakfast":'water', "lunch":'juice', "dinner": 5.0}
mydict

{'myname': 'Mike',
 'yourname': 'Joe',
 2: 'two',
 'inception': ['apples', 'bananas', 'grapes'],
 'subdictionary': {'breakfast': 'water', 'lunch': 'juice', 'dinner': 5.0}}

In [81]:
len(mydict)

5

In [83]:
mydict.keys()

dict_keys(['myname', 'yourname', 2, 'inception', 'subdictionary'])

In [84]:
mydict.values()

dict_values(['Mike', 'Joe', 'two', ['apples', 'bananas', 'grapes'], {'breakfast': 'water', 'lunch': 'juice', 'dinner': 5.0}])

In [86]:
type(mydict['subdictionary']['dinner'])

float

In [87]:
mydict[0]

KeyError: 0